body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
}

.container {
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.space-vertical {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.space-horizontal {
  display: flex;
  gap: 16px;
}

.select,
.input,
.button {
  width: 200px;
}

.table {
  margin-top: 20px;
}

.spin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.actions-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.selected-rows-count {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}